* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    text-decoration: none;
}

a {
    text-decoration: none !important;
}

.btn-primary {
    color: #fff;
    background-color: #f39302 !important;
    border-color: #f39302 !important;
}

header {
    background: rgb(248 249 250);
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: -5%;
    margin-left: 0px;
}

.nav-cv {
    border: 4.5px solid #F39302;
    padding: 10px;
    margin-top: -49px;
    border-radius: 30px;
    margin-left: 682px;
}

.text-menu-cv {
    text-align: initial;
    text-decoration: none;
    color: #F39302;
    margin-bottom: 0rem;
}

.text-menu {
    font-size: large;
    text-align: initial;
    text-decoration: none;
    color: #3e3e3e;
    padding: 10px;
    margin-top: -12px;
    margin-bottom: 0rem;
}

#logo {
    margin-left: -15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icons-links {
    width: 50px;
}

.nav-menu {
    display: flex;
    position: absolute;
    margin-left: 47.4%;
    margin-top: 15px;
}

.li-sections {
    padding-right: 2.5em;
    list-style: none;
}

.nav .icons {
    padding-right: 1.5em;
}

.nav-icons {
    display: flex;
    margin-left: 48%;
    margin-top: -5px;
    position: fixed;
}

.foto {
    height: 855px;
    background-size: 40% 100%;
    background-image: url(../img/foto.png);
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: -2px;
}

.skills {
    margin-top: 30px;
}

.tag-name {
    position: absolute;
    width: 920px;
    height: 210px;
    left: 485px;
    top: 281px;
    background: rgba(247, 247, 247, 0.45);
    border: 5.8px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    padding: 2%;
}

#hello {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #575757;
    margin-bottom: 0px;
}

#name {
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 82px;
    color: #FF9900;
    margin-bottom: 0px;
}

#description {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 5px;
    letter-spacing: 0.05em;
    color: #575757;
}

.tag-skills {
    margin-top: -22%;
    margin-left: 41%;
}

.skills-ul-first {
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-left: -65px;
}

.icons-skills {
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

.skills-div {
    border: 0.5px solid #CBCBCB;
    padding: 2%;
    width: 11.5%;
    height: 130px;
    margin-left: 30px;
    box-sizing: border-box;
    border-radius: 15px;
}

.skills-ul-second {
    display: flex;
    list-style: none;
    margin-top: 33px;
    margin-left: -65px;
}

.hr-skills {
    margin-top: 64px;
    margin-bottom: 60px;
    width: 100%;
    height: 3px !important;
    border: 0px;
    background-color: #c1c1c1;
}

#botonemail {
    width: 100%;
    position: fixed;
    z-index: 0;
    margin-top: -98.5%;
    margin-left: 92.1%;
}


/*---------Servicios------------*/

.sub-title {
    text-align: center;
    font-size: xx-large;
    color: #575757;
    letter-spacing: 0.05em;
}

.img-responsive {
    background-image: url(../img/codicon_terminal-tmux.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 58%;
    margin-left: 50px;
}

.img-east {
    background-image: url(../img/geo_ui-earth-east.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 58%;
    margin-left: 50px;
}

.img-tools {
    background-image: url(../img/carbon_tools.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 58%;
    margin-left: 50px;
}

.container-services {
    text-align: center;
    margin-top: 66px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 34px;
    grid-template-areas: initial;
}

.container-services-section {
    border: 3.5px solid #CBCBCB;
    background-color: #F8F8F8;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 35px;
    margin-top: 10%;
    margin-bottom: 110px;
    height: 88%;
}

.text-container-section {
    font-size: large;
    margin-top: 15px;
    text-align: initial;
}


/*----------Proyectos------------*/

.card-group {
    margin-top: 75px;
}

.dos {
    margin-top: 20px;
    margin-bottom: 45px;
}

.footer {
    background-color: #F5F5F7;
    width: 100%;
    height: 100%;
}

.container-footer {
    text-align: center;
    padding: 20px;
    color: #a2a2a2;
}


/*-------hovers-------*/

.text-menu:hover {
    transition-duration: 500ms;
    color: #fff;
    background: #F39302;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.resposive:hover {
    transition-duration: 800ms;
    border: 3.5px solid #F39302;
    background-repeat: no-repeat;
}

.img-responsive:hover {
    transition-duration: 800ms;
    position: relative;
    background-image: url(../img/codicon_terminal-tmuxorage.png);
}

.eart:hover {
    transition-duration: 800ms;
    border: 3.5px solid #F39302;
    background-repeat: no-repeat;
}

.img-east:hover {
    transition-duration: 800ms;
    position: relative;
    background-image: url(../img/geo_ui-earth-eastorange.png);
}

.tools:hover {
    transition-duration: 800ms;
    border: 3.5px solid #F39302;
    background-repeat: no-repeat;
}

.img-tools:hover {
    transition-duration: 800ms;
    position: relative;
    background-image: url(../img/carbon_toolsorgane.png);
}

.icons-skills:hover {
    transition-duration: 500ms;
    margin-top: 10px;
}

.nav-cv:hover {
    box-shadow: 0px 6px 11px rgb(0 0 0 / 15%);
}


/*---Mediaquerys---*/

@media screen and (max-width: 1884px) {
    .hr-skills {
        margin-top: 58px;
    }
    .container-boton-email {
        margin-top: -88.5%;
    }
    .nav-cv {
        margin-left: 680px;
        margin-top: -6%;
    }
    #botonemail {
        margin-top: -103.5%;
        margin-left: 92.1%;
    }
}

@media screen and (max-width:1440px) {
    .nav-menu {
        margin-left: 34.4%;
    }
    #logo {
        margin-left: 0%;
    }
    .foto {
        background-size: 49% 96%;
    }
    .tag-skills {
        margin-top: -29.3%;
        margin-left: 55%;
    }
    .skills-div {
        width: 18.5%;
        height: 118px;
    }
    #botonemail {
        margin-top: -130.5%;
    }
    .nav-cv {
        margin-left: 160px;
        margin-top: -5%;
    }
}

@media screen and (max-width:1024px) {
    .nav-menu {
        margin-left: 85px;
        margin-top: 10px;
    }
    header {
        width: 125%;
    }
    .nav-icons {
        margin-left: 70%;
    }
    .nav-cv {
        margin-top: -15px;
        margin-left: 190px;
    }
    #logo {
        margin-left: -15%;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .foto {
        height: 861px;
        background-size: 50% 77%;
    }
    .tag-name {
        width: 70%;
        height: 167px;
        left: 295px;
        top: 157px;
    }
    #hello {
        font-size: 25px;
        line-height: 25px;
    }
    #name {
        font-size: 50px;
        line-height: 65px;
    }
    .tag-skills {
        margin-top: -57%;
        margin-left: 51%;
    }
    .skills-div {
        width: 18.5%;
        height: 115px;
    }
    #botonemail {
        margin-top: -157.5%;
        margin-left: 89.1%;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 80px;
    }
    .nav-cv {
        margin-left: -6px;
        margin-top: -16px;
    }
    .nav-menu {
        margin-left: 48px;
        margin-top: -5px;
    }
    #logo {
        margin-left: -17%;
        margin-top: 18px;
        display: none;
    }
    #boton-menu {
        margin-left: -120px;
        margin-top: 13px;
    }
    .foto {
        height: 645px;
        background-size: 52% 80%;
    }
    .tag-name {
        width: 68%;
        height: 158px;
        left: 240px;
        top: 122px;
    }
    #name {
        font-size: 38px;
    }
    .nav-icons {
        margin-left: 69%;
    }
    .icon-skill {
        width: 80%;
    }
    .skills-div {
        margin-left: 19px;
        margin-top: -1pc;
        height: 70px;
    }
    .tag-skills {
        margin-top: -51%;
        margin-left: 55%;
    }
    .img-responsive {
        height: 36%;
        margin-left: 15px;
    }
    .img-east {
        height: 36%;
        margin-left: 15px;
    }
    .img-tools {
        height: 36%;
        margin-left: 15px;
    }
    #botonemail {
        margin-top: -200.5%;
        margin-left: 86.1%;
    }
}

@media screen and (max-width: 425px) {
    .foto {
        height: 855px;
        background-size: 98% 60%;
        background-image: url(../img/foto2.png);
        margin-top: 60%;
    }
    .tag-name {
        width: 95%;
        height: 155px;
        left: 10px;
        top: 95px;
        border: 2.8px solid #dedede;
        padding: 5%;
    }
    header {
        margin-top: -60%;
    }
    #name {
        font-size: 28px;
    }
    .tag-skills {
        margin-top: -77%;
        margin-left: 9%;
    }
    .icon-skill {
        width: 80%;
        margin-top: 0px;
    }
    .container-services {
        grid-template-columns: repeat(1, 1fr);
    }
    .img-responsive {
        height: 50%;
        margin-left: 100px;
        width: 100px;
    }
    .img-east {
        height: 50%;
        margin-left: 100px;
        width: 100px;
    }
    .img-tools {
        height: 50%;
        margin-left: 100px;
        width: 100px;
    }
    #botonemail {
        margin-top: -998.5%;
        margin-left: 75.1%;
    }
}

@media screen and (max-width: 375px) {
    #name {
        font-size: 25px;
    }
    .img-responsive {
        margin-left: 80px;
    }
    .img-east {
        margin-left: 80px;
    }
    .img-tools {
        margin-left: 80px;
    }
    .foto {
        height: 780px;
    }
    #botonemail {
        margin-top: -1101.5%;
        margin-left: 72.1%;
    }
}

@media screen and (max-width: 320px) {
    #name {
        font-size: 21px !important;
    }
    #hello {
        font-size: 20px;
        line-height: 10px;
    }
    .tag-name {
        height: 125px !important;
    }
    .foto {
        height: 660px;
    }
    .img-responsive {
        margin-left: 55px;
    }
    .img-east {
        margin-left: 55px;
    }
    .img-tools {
        margin-left: 55px;
    }
    .icon-skill {
        margin-top: 6px;
    }
    #botonemail {
        margin-top: -1312.5% !important;
        margin-left: 69.1% !important;
    }
}

@media screen and (max-width:414px) {
    #name {
        font-size: 157%;
    }
}

@media screen and (max-width:360px) {
    .tag-name {
        width: 94%;
    }
    #name {
        font-size: 149%;
    }
    #botonemail {
        margin-top: -1175.5%;
        margin-left: 72.1%;
    }
}